.navbar {
  box-shadow: 0 3px 8px 0 rgba(0,0,0,0.2);
  display: flex;
}

li {
  display: inline-block;
  list-style-type: none;
}

li a{
  color: #ffffff;
  text-decoration: none;
  padding: 10px;
}

li a:hover{
  color: #d0d0d0;
  -webkit-transition: color 400ms linear;
  -ms-transition: color 400ms linear;
  transition: color 400ms linear;
}
