body {
    background-color: #473E3F;
    color: #6CCECB;
    text-shadow: 2px 2px 0px rgba(0,0,0,0.2);
    font-family: "Courier New", Courier, monospace;
}

.wrapper {
    display: grid;
    grid-template-columns: 1fr 4fr;
}

.sidebar {
    padding: 5px;
}

.content {
    text-indent: 2rem;
    padding: 5px;
}

@keyframes spin {
    to { transform: rotate(360deg);}
}
.spinner {
    border: 8px solid rgba(0, 0, 0, 0.1);
    border-left-color: #6CCECB;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 1.2s linear infinite;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li a {
    display: block;
    color: #6CCECB;
    padding: 8px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #555;
    color: white;
}