.grid-container {
  display: grid;
  height: 100%;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 10fr 1fr;
  grid-gap: 15px;
  grid-template-areas: "header" "wrapper" "footer";
}

.header { grid-area: header; }

.footer { grid-area: footer; }

.wrapper {
  display: grid;
  grid-area: wrapper;
  grid-template-columns: 1fr 8fr 1fr;
  grid-template-rows: 1fr;
  grid-gap: 1px 1px;
  grid-template-areas: ". content .";
}

.content {
  grid-area: content;
  display: flex;
  align-items: center;
  justify-content: center;
}
