.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  grid-gap: 15px;
}

.card {
  background-color: #ffffff;
  opacity: 0.5;
  height: 40vh;
  width: 18vw;
  box-shadow: 0 3px 8px 0 rgba(0,0,0,0.2);
  transition:all 0.3s;
  padding: 15px;
  border-radius: 3px;
}

.card:hover {
  opacity: 0.65;
  box-shadow: 0 10px 8px 0 rgba(0,0,0,0.2);
}

.card p{
  color: #000000;
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
}

.card h3 {
  color: #000000;
  -webkit-margin-before: 0;
}
