/* You can add global styles to this file, and also import other style files */

html {
  min-height: 100vh;
  min-width: 100vw;
}

body {
  width: 100wh;
  height: 97vh;
  color: #fff;
  background: linear-gradient(-45deg, #06ee35, #052880, #23A6D5);
  background-size: 400% 400%;
  -webkit-animation: Gradient 30s ease infinite;
  -moz-animation: Gradient 30s ease infinite;
  animation: Gradient 30s ease infinite;
  font-family: 'Open Sans', sans-serif;
}

@-webkit-keyframes Gradient {
  0% {
    background-position: 0% 50%
  }
  50% {
    background-position: 100% 50%
  }
  100% {
    background-position: 0% 50%
  }
}

@-moz-keyframes Gradient {
  0% {
    background-position: 0% 50%
  }
  50% {
    background-position: 100% 50%
  }
  100% {
    background-position: 0% 50%
  }
}

@keyframes Gradient {
  0% {
    background-position: 0% 50%
  }
  50% {
    background-position: 100% 50%
  }
  100% {
    background-position: 0% 50%
  }
}

.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  grid-gap: 15px;
}

.card {
  background-color: #ffffff;
  opacity: 0.8;
  min-height: 40vh;
  width: 18vw;
  box-shadow: 0 3px 8px 0 rgba(0,0,0,0.2);
  transition:all 0.3s;
  padding: 15px;
  border-radius: 3px;
  align-content: center;
  align-items: center;
}

.card:hover {
  opacity: 1;
  box-shadow: 0 10px 8px 0 rgba(0,0,0,0.2);
}

.card p{
  color: #000000;
  text-align: justify;
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
}

.card h3 {
  color: #000000;
  -webkit-margin-before: 0;
}

.card em {
  color: #000000;
  font-weight: bold;
  font-style: italic;
}

.card button {
  align-self: end;
}

.card-image {
  vertical-align: center;
}

button {
  background-color: #052880; /* Green */
  border: none;
  color: white;
  padding: 8px 85px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

p {
  margin-bottom: 0.5em;
}
